$mainColor: #ff0000;

@mixin 함수() {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.red {
  color: $mainColor;
}

.my-alert {
  @include 함수();
}

.my-alert-pink {
  @extend .my-alert;
  background-color: pink;
}

.my-alert p {
  margin-bottom: 0;
}

// ** nesting
// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: green;
//   }
// }
